@import '/src/theme/variable';

.race {
  height: 90px;
  width: 100%;
  border-bottom: 2px dashed $grey;
  position: relative;
  margin-top: 0.5rem;
  transition: all 0.3s;
}

.race_active {
  z-index: 2;
  background-color: $background;
  border-radius: 5px 5px 0 0 ;
}

.race__car-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 7px 5px 0 5px;
}

.race__car-name {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.race__car {
  transform: scaleX(-1);
  position: absolute;
  z-index: 1;
  top: 48px;
  left: 208px;
}

.race__car_broken {
  margin-left: -30px;
}

.race__finish {
  background-image: url('../../../../../../assets/images/finish.svg');
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transform: scale(0.4);
  top: 10px;
  right: 50px;
}

