@import '/src/theme/variable';

.winners-table {
  padding: 1rem 0 1rem 0;
}

.winners-table__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.winners-table__row {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr;
}

.winners-table__car {
  justify-self: flex-start;
  transform: scaleX(-1);
  margin-left: 1rem;
}

.winners-table__name {
  text-transform: capitalize;
}

@media (max-width: 650px) {
  .winners-table__row {
    grid-template-columns: 0.3fr 1fr 1.5fr 0.5fr 0.5fr;
  }

  .winners-table__car {
    transform: scaleX(-1) scale(0.5);
  }
}

@media (max-width: 575px) {
  .winners-table__row{
    grid-template-columns: 0.3fr 0.5fr 1fr 0.5fr 0.75fr;
    font-size: 0.8rem;
  }
}