@import '/src/theme/variable';

.button {
  background-color: $bg-trenary;
  text-transform: capitalize;
  border: 1px solid $conditionalborder;
  width: 70px;
  height: 33px;
  border-radius: 5px;
  color: $grey;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $bg-secondary;
    border: 1px solid $grey;
  }
}

.button_race {
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid $red;
  color: $red;
  &:hover {
    background-color: $red;
    color: $grey;
    border: 1px solid transparent;
  }
}

.button_generate-cars {
  width: 245px;
}

.button_slim {
  height: 25px;
}
