@import '/src/theme/variable';

.race {
  height: 85px;
  width: 100%;
  border-bottom: 2px dashed $grey;
  position: relative;
  margin-top: 1rem;
}

.race_active {
  z-index: 2;
}

.race__car-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.7rem;
}

.race__car-name {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.race__car {
  height: 100px;
  width: 100px;
  transform: scaleX(-1);
  position: absolute;
  z-index: 1;
  top: 18px;
  left: 170px;
}

.race__finish {
  background-image: url('../../../../../../assets/images/finish.svg');
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transform: scale(0.4);
  top: 10px;
  right: 50px;
}

