@import '/src/theme/variable';

.winners {
  position: absolute;
  background-color: $background;
  height: calc(100% - $footer-height - $header-height);
  width: 100%;
  z-index: 2;
  top: $header-height;
}

.winners__container {
  max-width: $desktop;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem 15px 2rem 15px;
}
