@import '/src/theme/variable';

.winners-table__top-row {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr;
  margin-bottom: 1rem;
  background-color: $background;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid $conditionalborder;
}

.winners-table__column-name {
  display: inline;
  padding: 0.5rem;
  border-radius: 5px;
}

.column-item {
  padding: 0.5rem;
}

.winners-table__column-name_clickable {
  cursor: pointer;
  &:hover {
    background-color: $bg-trenary;
  }
}

@media (max-width: 650px) {
  .winners-table__top-row {
    grid-template-columns: 0.5fr 0.9fr 1.5fr 0.5fr 0.75fr;
    font-size: 0.8rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .winners-table__top-row {
    grid-template-columns: 0.5fr 0.5fr 0.6fr 0.5fr 0.66fr;
  }

  .column-item {
    text-align: center;
  }
}
