$white: #fff;
$black: #000000;
$background: #1f1f1f;
$bg-secondary: #2c2c2c;
$bg-trenary: #383838;
$conditionalborder: #444444;
$red: rgba(254, 0, 0, 0.8);
$red-hover: rgba(254, 0, 0, 0.6);
$grey: rgb(204, 204, 204);
$light-color: rgba(255, 255, 255, .3);
