@import '/src/theme/colors';

$desktop: 1200px;
$footer-height: 70px;
$header-height: 80px;

%input {
  background-color: $bg-trenary;
  border: 1px solid $conditionalborder;
  color: $light-color;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s;
  &:focus,
  &:hover {
    border: 1px solid $grey;
    color: $grey;
  }
}