@import '/src/theme/variable';

.controls__change {
  margin: 1rem;
  display: flex;
  gap: 1.5rem;
}

#update {
  position: relative;
  z-index: 2;
}

.controls__input {
  @extend %input;
  padding: 0.5rem;
  width: 265px;
}

.controls__pick-color {
  @extend %input;
  padding: 0.1rem;
  height: 33px;

  &::-webkit-color-swatch {
    border-radius: 3px;
  }
}
