@import '/src/theme/variable';

.controls__change {
  margin: 1rem;
  display: flex;
  gap: 1.5rem;
}

.controls__input {
  @extend %input;
  padding: 0.5rem;
}

.controls__pick-color {
  @extend %input;
  height: 33px;
}
