@import '/src/theme/variable';

.winner-message {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-message__container {
  background-color: $background;
  border: 1px solid $conditionalborder;
  border-radius: 5px;
  padding: 1rem 2rem 1rem 2rem;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.button_close-message {
  pointer-events: all;
}

@media (max-width: 500px) {
  .winner-message__car {
    font-size: 1.2rem;
  }
}

