@import '/src/theme/variable';

.garage {
  margin-top: 2rem;
  background: $bg-secondary;
  border: 1px solid $conditionalborder;
  border-radius: 5px;
  padding: 1rem;
}

.garage__info {
  border-bottom: 1px solid $conditionalborder;
  padding: 0 5px 0.5rem 5px;
}

.garage__heading {
  font-size: 1.2rem;
}

.garage__page-num {
  font-size: 1rem;
}

.race__container {
  position: relative;
}
